# Ignorar dependencias
node_modules/

# Ignorar archivos de entorno
.env

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar directorios del editor
.vscode/
.idea/

# Ignorar sistema operativo
.DS_Store
Thumbs.db

# Ignorar salida de producción (si usás alguna)
dist/
build/
